<!DOCTYPE html>
<html>
<head>
  <title>Miketwitter</title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" %>

</head>
	<%= stylesheet_link_tag"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" %>
<body>

<%= yield %>

</body>
</html>
